{% extends 'djanalytics/charts/daterange_chart_base.html' %}

{% block title %}
<title>Page Visits</title>
{% endblock %}

{% block css %}
<style type="text/css">
    div.page_data {
        border-style: solid;
        border-width: 1px;
        display: inline-block;
        max-width: 32%;
        vertical-align: top;
    }
</style>
{% endblock %}

{% block extra_date_range_form_elements %}
<input type="hidden" name="start_page" id="id_start_page" value="{{ start_page }}">
{% endblock %}

{% block page_data %}
    <div class="page_data parents">
    {% for referrer, visits in page_info.parent_pages.items %}
        {{ referrer }} - {{ visits }}<br/>
    {% endfor %}
    </div>
    <div class="page_data target_page">
        {{ page_info.target_page.path }} - {{ page_info.target_page.visits }}<br/>
    </div>
    <div class="page_data children">
        {% for child in page_info.child_pages %}
            <a class="child_page" path="{{ child.path }}" href="#{{ child.path }}">{{ child.path }}</a> - {{ child.visits }}<br/>
        {% endfor %}
    </div>
{% endblock %}

{% block foot_scripts %}
<script type="text/javascript">
window.jQuery || document.write('<script src="http://code.jquery.com/jquery-1.11.1.min.js"><\/script>');
</script>
<script type="text/javascript">
$(document).ready(function() {
    $('.child_page').click(function(e) {
        $('#id_start_page').val(e.currentTarget.attributes.path.value);
        $('#page_visit_form').submit();
    });
});
</script>
{% endblock %}
